/* dropdown */
.component-dropdown-wrapper {
    position: relative;
}

.component-dropdown-wrapper-right .component-dropdown-content {
    right: 5px;
}

.component-dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    padding: 20px;
    border-radius: 8px;
    background: #262626;
    z-index: 999999;
}

.component-dropdown-content.is-open {
    display: block;
}


/* color-picker */
.color-picker-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-picker-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(228, 228, 225);
}


/* modal */
.modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    position: relative;
    min-width: 600px;
    max-width: 80%;
    min-height: 40%;
    max-height: 80%;
    overflow: hidden;

    border-radius: 8px;
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #FFF;
    z-index: 999;
}

.modal-contain {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: grey;
}



.pre-lesson {
    max-width: 100%;
}

